extends base

block TopBar
    include widgets/_topBar

    block MainContent
        .container-fluid
            .d-sm-flex.align-items-center.justify-content-between.mb-4
                h1.h3.mb-0.text-gray-800 Profile | #{user.firstName} #{user.lastName} 
            .row
                .col-xl-8.col-lg-7
                    .card.shadow.mb-4
                        .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between(style='background-color:#f1f1f1')
                            h6.m-0.font-weight-bold.text-primary My Profile
                        .card-body
                            form.profile-form(enctype='multipart/form-data')
                                .form-group.row
                                    label.col-sm-2.col-form-label(for='full_name') Full Name
                                    .col-sm-10
                                        input.form-control-plaintext(type='text' readonly='' name='fullName' id='fullName' value= `${user.firstName} ${user.lastName}` )
                                .form-group.row
                                    label.col-sm-2.col-form-label(for='email') Email
                                    .col-sm-10
                                        input.form-control-plaintext(type='text' name='email' id='email' readonly='' value=`${user.email}`)
                                .form-group.row
                                    label.col-sm-2.col-form-label(for='phone_number') Phone Number
                                    .col-sm-10
                                        if !user.phoneNumber 
                                            input.form-control(type='text' name='phoneNumber' id='phoneNumber' value='')
                                        else
                                            input.form-control(type='text' name='phoneNumber' id='phoneNumber' value=`${user.phoneNumber}`)

                                .form-group.row
                                    label.col-sm-2.col-form-label(for='address') Address
                                    .col-sm-10
                                        if !user.address
                                            input.form-control(type='text' name='address' id='address' value='')
                                        else    
                                            input.form-control(type='text' name='address' id='address' value=`${user.address}`)


                                fieldset.form-group
                                - var check = 'checked'
                                if user.role === 'member'

                                    .row
                                        legend.col-sm-2.col-form-label
                                            | User Type 
                                        .col-sm-10


                                            .form-check
                                                input#gridRadios1.form-check-input(type='radio' name='userType' onclick="showHidePan('member')" checked=`${check}`)
                                                label.form-check-label(for='member' )
                                                    | Member


                                    #panBlock.form-group.row(style='display:none;')
                                        label.col-sm-2.col-form-label(for='pan_vat_number') PAN-VAT Number
                                        .col-sm-10
                                            input.form-control(type='text' name='panVatNumber' id='panVatNumber' value='')


                                else
                                    .row
                                        legend.col-sm-2.col-form-label
                                            | User Type 
                                        .col-sm-10


                                            .form-check
                                                input#gridRadios2.form-check-input(type='radio' name='userType' onclick="showHidePan('gymOwner')" checked = `${check}`)
                                                label.form-check-label(for='gymOwner' )
                                                    | Gym Owner

                                    #panBlock.form-group.row
                                        label.col-sm-2.col-form-label(for='pan_vat_number') PAN-VAT Number
                                        .col-sm-10
                                            input.form-control(type='text' name='panVatNumber' id='panVatNumber' value=`${user.panVatNumber}`)


                                .form-group.row
                                    label.col-sm-2.col-form-label(for='status') Status
                                    .col-sm-10
                                        input.form-control-plaintext(type='text' readonly='' name='status' id='status' value='Active')

                                .form-group.row
                                    label.col-sm-2.col-form-label(for='photo') Image
                                    .col-sm-10
                                        input.form-control-file(type='file' id='photo' name='photo' accept='image/*')

                                form.group
                                    button.btn.btn-primary.btn-user.btn-block.update-button(type='submit')
                                        | Update Profile

                .col-xl-4.col-lg-5
                    .card.shadow.mb-4

                        .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between(style='background-color:#f1f1f1')
                            h6.m-0.font-weight-bold.text-primary My Profile Image

                        .card-body
                            div(align='center')
                                if !user.photo
                                    //- i.fas.fa-10x.fa-user-circle
                                    img.rounded-circle(src=`/img/users/default.jpeg`, alt='Default photo')
                                    hr
                                else
                                    img.rounded-circle(src=`/img/users/${user.photo}`, alt='User photo')
                                    hr
                            .text-center
                                h5.h3
                                    | #{user.firstName} #{user.lastName} 
                                br



    block footer    
        include widgets/_footer


    script(type='module' src='/js/updateProfile.js')
    script.
        function showHidePan(userType) {
        if (userType === "member") {
        document.getElementById("panBlock").style.display = "none";
        } else if (userType === "gymOwner") {
        document.getElementById("panBlock").style.display = "flex";
        }
        }

block LogoutModal
    include widgets/_logoutModal

